/* flex */
.flex{
   display: flex;
}
.flex-center{
   display: flex;
   align-items: center;
   justify-content: center;
}
.flex-between{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.flex-around{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.flex-wrap{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px 19px;
}

/* sizes */
.container{
   width: 70%;
   margin: auto;
}
.section{
   margin: 30px 0;
}
.section-b{
   margin-bottom: 48px;
}
.col-2{
   width: 25%;
}
.col-4{
   width: 33%;
}
.col-5{
   width: 40%;
}
.col-6{
   width: 60%;
}
.col-8{
   width: 80%;
}
.col-12{
   width: 100%;
}

/* relative */
.relative{
   position: relative;
}

/* pointer */
.pointer{
   cursor: pointer;
}