/* flex */
.flex{
   display: flex;
}
.flex-center{
   display: flex;
   align-items: center;
   justify-content: center;
}
.flex-between{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.flex-around{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.flex-wrap{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px 19px;
}

/* sizes */
.container{
   width: 70%;
   margin: auto;
}